@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap");


.logo{
  object-fit: contain !important;
  width:100px !important;
}
.topsidecontainer {
  padding: 60px !important;
}

.bannerside {
  display: flex !important;
  object-fit: contain !important;
   width: 110% !important;
  height: 100%;
}
.top_heading {
  font-size: 4em !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  color: #39a2db !important;
}
.top_secheading > .easy {
  font-weight: 800 !important;
  font-style: normal !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  color: #f21170 !important;
  margin-bottom: 5px !important;
}

.top_secheading {
  font-size: 4em !important;
  font-weight: 800 !important;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #39a2db !important;
  line-height: 80px !important;
  margin-bottom: 20px !important;
}

.somedesc {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  text-align: justify !important;
}

.getStarted {
  background-color: #8c30f5 !important;
  color: white !important;
  padding: 15px 32px !important;
  margin-top: 25px !important;
  margin-bottom: 15px !important;
  text-transform: capitalize !important;
}
.secondBanner {
  object-fit: cover !important;
  height: 70% !important;
  max-width: 99% !important;
  object-position: center !important;
}
.sec_head1 {
  font-size: 4em !important;
  font-weight: 600 !important;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #0a0b2f !important;
  margin-top: 90px !important;
  margin-bottom: -10px !important;
}
.sec_head2 {
  font-size: 4em !important;
  font-weight: 700 !important;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #fc4439 !important;
}

.para1{

  font-style: normal !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  text-align: justify !important;
}

.tryout {
  background-color: #8c30f5 !important;
  color: white !important;
  padding: 15px 32px !important;
  margin-top: 25px !important;
  margin-bottom: 15px !important;
  text-transform: capitalize !important;
}

.work_head1 {
  font-size: 2.3em !important;
  font-weight: 900 !important;
  font-family: "Poppins", sans-serif !important;
  margin-top: 60px !important;
  color: #0a0b2f !important;
}

.work_01 {
  font-size: 7.5em !important;
  font-weight: 900 !important;
  text-align: center !important;
  color: #fffeff !important;
  -webkit-text-stroke: 1px #05061e !important;
}

.feature_head1 {
  font-size: 2.3em !important;
  font-weight: 900 !important;
  font-family: "Poppins", sans-serif !important;
  margin-top: 60px !important;
  color: #0a0b2f !important;
  text-align: center !important;
}

.feature_head2 {
  font-size: 2.3em !important;
  font-weight: 750 !important;
  font-family: "Poppins", sans-serif !important;
  color: #242851 !important;
  text-align: center !important;
  margin-bottom: 50px !important;
}

.feature_head2 > .great {
  color: #fc4439 !important;
}

.f_title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  text-align: center !important;
  color: #000 !important;
  font-weight: 700 !important;
  font-size: 1.1em !important;
}

.f_subtitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  color: #344ed8 !important;
  font-weight: 800 !important;
  font-size: 1.5em !important;
  margin-bottom: 10px !important;
  text-align: center !important;
}

.f_description{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal !important;
  text-align: center !important;
  padding: 5px !important;
}